{% extends "./_base.html.twig" %}

{% block title %}
{{ title }}
{% endblock %}



{% block body %}


    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
               <h1 class="heading-events">Nadcházející akce </h1>

                            <br>
                            <hr>
  <div class="row">
          <div class="col-12 col-md-2">
           

    </div>


    {% for event in events %}


		<div class="row row-striped">
			<div class="col-md-2 col-12 text-center">
                        
				<h1 class="display-4"><span class="badge badge-secondary">{{event.start_day}}.{{event.start_month}} -
                    <br> {{ event.end_day}}.{{event.end_month}}

</span></h1>
			</div>
			<div class="col-10">
			        <a href="{{event.id}}">
	<h3 class="text-uppercase"><strong>{{event.name}}</strong></h3> </a>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> 
</p>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{event.wall_type}}</li>
				</ul>
				<p>{{event.description}}</p>
			</div>
		</div>

            {% endfor %}


    </div>
</div>




</div>



           
	


{% endblock %}